name: CI Процесс
on:
  push:
    branches:
      - main
      - master
      - develop
      - release/*
  pull_request:
    branches:
      - main
      - master
      - develop
      - release/*
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: JDK 17 Тохируулах
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Checkstyle Шалгах
        run: mvn checkstyle:check
      - name: JUnit Тест ажиллуулах
        run: mvn test
      - name: JaCoCo Тайлан Үүсгэх
        run: mvn jacoco:report
      - name: JaCoCo 100% Branch Coverage Шалгах
        run: mvn verify

